@model TrackSzn.ViewModels.Athletes.PerformancesViewModel

@{
    ViewBag.Title = "Athlete Performances";
    ViewBag.Description = "Use this page to navigate to specific athlete performance information.";
}

<div class="card-deck">
    @foreach (var graduationYearGroup in Model.AthletesByGraduationYear)
    {
        <div class="card">
            <div class="card-header">
                @graduationYearGroup.Key
            </div>
            <ul class="list-group list-group-flush">
                @foreach (var athlete in graduationYearGroup)
                {
                    <li class="list-group-item">
                        @Html.ActionLink(athlete.Name, "AthletePerformanceList", "Athletes", new { id = athlete.Id }, new { })
                    </li>
                }
            </ul>
        </div>
    }
</div>
