@model TrackWorkout.ViewModels.Lifts.AthleteViewModel

@{
    ViewBag.Title = "Athlete Lifts";
}

<h2>@Model.Athlete.Name</h2>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th></th>
    </tr>
    </thead>
</table>
