@model TrackWorkout.ViewModels.Lifts.IndexViewModel

@{
    ViewBag.Title = "Lifts";
}

<h2>Lifts</h2>

<ul>
    @foreach (var athlete in Model.Athletes)
    {
        <li>@Html.ActionLink(athlete.Name, "Athlete", "Lifts", new { id = athlete.Id }, new { })</li>
    }
</ul>